@media(max-width:1199px) {
    .featured__item {
        width: auto;
        height: 339px;
    }
}
@media(max-width:991px) {
    .featured__item {
        // width: auto;
        height: 370px;
    }
}