$main-color: #6df6eb;
$dark-blue: #71f6eb;
$light-main: #b2f2ee;
$main-grey: #f9fbfb;
$grey-header: #eff0f2;
$grey-about: #f8fafa;
$black: #000000;
$light-black: #505050;
$white: #fff;
$opacity-gray:#f8fafb;
$opacity-black:#021623;
$footer-background: #262b2e;
$link-background: #8a8a8a;