@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-utilities";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap";
@import "libs/fonts";
@import "libs/slick";
@import "base/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
ul {
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family:'Montserrat', 'Merriweather','Raleway', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}


.container {
    // display: block;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding:0 15px ;
}

@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/btn";
@import "blocks/about";
@import "blocks/block-title";
@import "blocks/block-subtitle";
@import "blocks/featured";
@import "blocks/services";
@import "blocks/team";
@import "blocks/testimonial";
@import "blocks/logos";
@import "blocks/forms";


@import "base/media";