.btn {
    padding: 18px 45px;
    // width: 232px;
    // height: 53px;
    font-family: Montserrat;
    font-size: 1.8rem;
    line-height: 0.8;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: $black;
    border-radius: 2px;
    border: 2px solid $black;
    opacity: 0.5;
    &-block {
        padding-left: 64px;
    }
}
